@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --cor-principal: #FFFFFF;
    --cor-secundaria: #C0C0C0;
    --cor-tercearia: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'inter';
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--cor-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

*{
    margin: 0px;
    padding: 0px;
}

.principal{
    background-image: url("../assets/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container{
height: 100vh;
display: grid;
grid-template-columns: 50% 50%;
}

.container__botao{
    background-color: var(--cor-tercearia);
    border-radius: 8px;
    padding: 1rem;
    color: var(--cor-principal);
    text-decoration: none;
    display: block;
    margin-bottom: 1rem;

}

.container__botao__secundario{
    background-color: transparent;
    border: 2px solid var(--cor-principal);
    border-radius: 8px;
    padding: 1rem;
    color: var(--cor-principal);
    text-decoration: none;
    display: block;
    
} 

.container__aviso{
    font-size: 12px;
    color: var(--cor-secundaria);
    padding: 1rem;
}

.container__titulo{
    font-size: 28px;
    font-weight: 700;
}

.container__imagem{
    margin: 1rem 0 2rem 0;
}

.container__caixa{
    margin: 0 6rem;
}

.imagem__secundaria{
    width: 80%;
}

.secundario{
    align-items: center;
    margin: 10rem;
}

.descricao__titulo{
    font-weight: 700;
    font-size: 48px;
    color: var(--cor-principal);
    margin-bottom: 1rem;

}

.descricao__texto{
    color: var(--cor-secundaria);
    padding-right: 5rem;
}

.secundario__botao{
    display: inline-block;
    margin-top: 1rem;
}

